<h1>Register</h1>
<%= flash[:errors] %>
<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="Email">
	<input type="text" name="Name">
	<input type="text" name="Password">
	<input type="text" name="Password Confirmation">
	<input type="submit" value="Join">
</form>

